@media screen and (max-width: 855px) {

    .header-text-container {
        min-width: 100%;
        /* backdrop-filter: blur(0.8px); */
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .header-banner-section {
        padding-top: 0;
    }

    .counter h2 {
        font-size: 20px;
    }
    
    .counter p {
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 15px;
    }

    .header-banner-section {
        padding: 80px 0 30px 0;
        background-position: center;
    
    }
    

}
    